<!DOCTYPE html>
<!-- Añadimos la tecnología de thymeleaf en la etiqueta html -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <!-- Traemos el fragmento desde la plantilla y le indicamos despues del :: que indicador de fragmento es -->
        <header th:replace="layout/plantilla :: header"></header>
        <section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
        <section th:replace="layout/listadoClientes :: listadoClientes"></section>
        <footer th:replace="layout/plantilla :: footer"></footer>
        
        <section th:replace="layout/agregarCliente :: agregarCliente"></section>
        
    </body>
</html>
